/* AboutUs.css */

/* General Styles */
.about-us-page {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.avatar img{
  border-radius: 30px;
  border: 1px solid #262626;
}
.my-info{
  display: block;
}
/* Founder Info Styles */
.founder-info {
  display: flex;
  align-items: center;
  padding: 40px;
}

.founder-info h2 {
  margin: 0;
  text-align: center;
  font-size: 24px;
}

.founder-info p {
  margin: 10px 10px;
}

.social-links a {
  color: #333;
  margin-right: 10px;
  font-size: 20px;
  transition: color 0.3s ease-in-out;
}

.social-links a:hover {
  color: #007bff;
}

/* SDLC Modal Styles */
.sdlc-modal {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
}

.sdlc-modal h3 {
  margin-top: 0;
  font-size: 20px;
}

/* Main Styles */
.about-us-page {
  padding: 40px;
}

.sdlc-section {
  margin-top: 40px;
}

.sdlc-modals {
  display: grid;
  grid-gap: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .founder-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .founder-info h2 {
    font-size: 20px;
  }

  .sdlc-modal {
    padding: 15px;
  }
}

/* Animation */
.sdlc-modal {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.sdlc-modal:hover {
  transform: translateY(-5px);
  opacity: 0.9;
}
