.youtube-videos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .video-card {
    /* border: 1px solid #252525; */
    box-shadow: 1px 1px 2px #252525;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /* background-color: white; */
    transition: transform 0.2s;
    cursor: pointer;
  }
  
  .video-card:hover {
    transform: scale(1.05);
  }
  
  .video-thumbnail {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .video-details {
    padding: 10px;
  }
  
  .video-title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .video-author {
    color: blue;
    font-weight: 500;
    margin-left: 2px;
  }
  
  .video-stats {
    color: #555;
    font-size: 14px;
    margin-top: 10px;
  }
  