.payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.payment-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.payment-button {
  background-color: #1b6d48;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.payment-button:hover {
  background-color: #359f72;
  transform: scale(1.05);
}

.join-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.join-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Animation and Keyframes */

@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* Media Queries for Responsive Design */


.payment-button,
.join-button {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.payment-button:hover,
.join-button:hover {
    /* background-color: #45a049; */
    transform: scale(1.05);
}
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.join-button {
  animation: fadeInUp 0.5s ease;
}
