.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(#3ea900, rgba(117, 233, 82, 0.79)), url("../../static/img/background-img.svg");
  animation: waveX 10s linear infinite, waveY 10s linear infinite;
  animation-play-state: paused;
}
.heroBanner:hover {
  animation-play-state: running;
}

@keyframes waveX {
  0% {
    background-position-x: 100%, 0;
  }
  100% {
    background-position-x: 100%, 33rem;
  }
}
@keyframes waveY {
  100% {
    background-position-y: 100%, 0;
  }
  0% {
    background-position-y: 100%, 33rem;
  }
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.section {
  padding: 72px 0;
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-100);
}

.sectionInner {
  margin: 0 auto;
}

.featureImage {
  max-width: 60%;
  max-height: 128px;
  margin: 0 auto;
}

.featureHeading {
  font-size: var(--ifm-h3-font-size);
  padding-top: 1rem;
}

.announcement {
  /* font-weight: bold; */
  font-size: 24px;
  padding: 48px;
  margin: 0 auto;
  text-align: center;
}

.announcementDark {
  box-shadow: 1px 1px 2px #262626;
  border-radius: 10px;
}

.announcementInner {
  margin: 0 auto;
  max-width: 768px;
}

.hero {
  background-color: #2b3137;
  padding: 48px;
}

.heroInner {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}

.heroProjectTagline {
  color: #fff;
  font-size: 60px;
  margin: 0;
}

.heroTitleTextHtml b {
  color: var(--ifm-color-primary);
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.heroLogo {
  animation-duration: 2s;
  animation-name: jackInTheBox;
  float: right;
  margin-top: 20px;
  padding: 0 20px 20px;
}

.indexCtas {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.indexCtasGetStartedButton {
  border: 2px solid var(--ifm-color-primary);
  line-height: 1.2em;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: background 0.3s, color 0.3s;
  border-radius: 8px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 18px 36px;
}

.indexCtasGitHubButtonWrapper {
  display: flex;
}

.indexCtasGitHubButton {
  border: none;
  margin-left: 24px;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .hero {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heroInner {
    padding: 0;
  }

  .heroProjectTagline {
    font-size: 36px;
    text-align: center;
  }

  .heroLogo {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .indexCtas {
    justify-content: center;
  }

  .indexCtasGitHubButton {
    display: none;
  }
}

/* ----------------------------------------------------- */
/* myHeroCustomCSS */
.myHeroContainer {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  padding: 1.5rem 1rem;
  box-shadow: 1px 1px 2px #262626;
  border-radius: 10px;
}
.leftContainer {
  padding: 2rem;
  font-size: 0px;
  flex: 2;
}
.rightContainer {
  flex: 1.7;
  display: flex;
  justify-content: center;
}

.rightContainer img {
  width: auto;
  height: 300px;
  object-fit: contain;
}

.leftContainer_h1 {
  text-align: justify;
  font-size: 2.3rem;
}
.leftContainer_p {
  /* color: #565451; */
  font-size: 1.3rem;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  margin-top: 4rem;
  width: 20rem;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.button {
  padding: 0.6rem 2rem;
  background-color: #ffae33;
  color: white;
  border: none;
  border-radius: 0.6rem;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.button:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.button:active {
  transform: scale(0.98);
}

.buttonLeftText {
  display: inline-block;
  margin: 0 0 10px 20px;
  height: 2rem;
  font-size: 0.8rem;
  /* color: #565451; */
}
.svgContainer {
  width: 13rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.svg {
  /* font-size: 20px; */
  width: 2.5rem;
}
.hero_a {
  text-decoration: none;
  color: white;
}
.hero_a:hover {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 966px) {
  .myHeroContainer {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}