
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,400&display=swap");

:root {
    --button-container-max-width: 400px;
    --button-max-width: 100%;
    --button-min-height: 65px;
    --button-large-screen-min-height: 100px;
    --button-div-width: 90px;
    --button-div-large-screen-width: 163px;
    --button-text-font: Montserrat;
    --button-text-color: rgba(255, 255, 255, 1);
    --button-brightness: 0.95;
    --button-border-color: rgba(255, 255, 255, 0.45);
    --button-border-width: 1px;
    --button-background-color: rgba(60, 59, 110, 1);
    --button-background-hover-color: rgba(178, 34, 52, 1);
    --button-background-active-color: rgba(137, 11, 25, 1);
    --button-div-background-color: rgba(178, 34, 52, 1);
    --button-div-background-hover-color: rgba(60, 59, 110, 1);
    --button-div-border-color: rgba(255, 255, 255, 1);
    --button-div-right-border-width: 0px;
    --button-span-background-color: rgba(0, 0, 0, 0.25);
}

.main-button-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* background-color: red; */
}

.unique-button-class {
    padding: 20px;
    background-color: var(--button-background-color);
    color: var(--button-font-color);
    filter: brightness(var(--button-brightness));
    overflow: hidden;
    cursor: pointer;
    transition: background-color 300ms ease;
    border-radius: 8px;
}

.unique-button-class:hover {
    background-color: var(--button-background-hover-color);
}

.unique-button-class:focus,
.unique-button-class.active {
    background-color: var(--button-background-active-color);
    opacity: 0.9;
    pointer-events: none;
}

.unique-button-class span {
    background: var(--button-span-background-color);
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate3d(0, 0, 0, 0deg);
    }

    50% {
        transform: rotate3d(0, 1, 0, 360deg);
    }

    100% {
        transform: rotate3d(0, 0, 0, 0deg);
    }
}

.unique-button-class:active {
    transform: scale(0.98);
}


.unique-button-class h2,
.unique-button-class h3 {
    line-height: 1;
    margin: 0;
    font-family: var(--button-text-font);
    color: var(--button-text-color);
}

.unique-button-class h2 {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 3px;
}

/* ===================================================*
        
         ."".    ."",       
         |  |   /  /
         |  |  /  /
         |  | /  /
         |  |/  ;-._ 
         }  ` _/  / ;
         |  /` ) /  /             PEACE and LOVE
         | /  /_/\_/\
         |/  /      |           made by Ajay Dhangar
         (  ' \ '-  |
          \    `.  /
           |      |
           |      |  
        
    /* ===================================================*/