.form-app{
  display: flex;
  justify-content: center;
  /* background-color: red; */
}
  .form-p {
    cursor: pointer;
    color: #007BFF;
    text-align: center;
    margin-top: 10px;
  }
  
  .form-p:hover {
    text-decoration: underline;
  }
  