/* Bootstrap .btn class base styles */
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Bootstrap .btn-primary styles */
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-danger:focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-warning:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 213, 106, 0.5);
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #6c757e;
    border-color: #dae0e5;
}

.btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

/* Custom CSS */
.form-control {
    /* Add your desired styles here */
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

/* Customizing the focus state */
.form-control:focus {
    border-color: #80bdff;
    /* Update to your preferred focus color */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    /* Optional focus shadow */
}

/* CSS code for container */
.container {
    /* max-width: 1140px; */
    /* Set the maximum width of the container */
    margin: 0 auto;
    /* Center the container horizontally */
}

/* CSS code for row */
.row {
    display: flex;
    /* Use flexbox to align columns horizontally */
    flex-wrap: wrap;
    /* Wrap columns to a new line if there's not enough space */
    margin: 0 -15px;
    /* Add negative margin to counteract padding in columns */
}
@media screen and (max-width:365px){
    .row{
        display: block;
    }
}

/* CSS code for left column (col-sm-6) */
.col-sm-6 {
    flex: 0 0 50%;
    /* Occupy 50% of the available width */
    max-width: 50%;
    /* Limit the width to 50% of the container's width */
    padding: 15px;
    /* Add padding around the content */
    box-sizing: border-box;
    /* Include padding and border within the width */
    /* background-color: #f5a623; */
    /*Set the background color */
    /* color: #fff; */
    /* /* Set the text color */
    font-size: 18px;
    /* Set the font size */
}

/* CSS code for right column (col-sm-6) */
.col-sm-6 {
    flex: 0 0 50%;
    /* Occupy 50% of the available width */
    max-width: 50%;
    /* Limit the width to 50% of the container's width */
    padding: 15px;
    /* Add padding around the content */
    box-sizing: border-box;
    /* Include padding and border within the width */
    /* background-color: #5d9cec; */
    /* Set the background color */
    /* color: #fff; */
    /* /* Set the text color */
    font-size: 18px;
    /* Set the font size */
}

.mt-4 {
    margin-top: 16px;
}

.mt-5 {
    margin-top: 3rem !important;
  }

.lead {
    font-size: 16px;
    line-height: 1.5;
    /* A unitless value, 1.5 times the font-size */
}
